{% load static i18n compress%}
<!DOCTYPE HTML>
<html class="no-js">

<head>
  <!-- Basic Page Needs
  ================================================== -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% block title %}Gazovik{% endblock title %}</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <!-- CSS
  ================================================== -->
  {% block css %}
  {% compress css %}
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
  {# <link href="{% static 'css/bootstrap-rtl.min.css' %}" rel="stylesheet" type="text/css">#}
  <link href="{% static 'plugins/mediaelement/mediaelementplayer.css' %}" rel="stylesheet" type="text/css">
  {# <link href="{% static 'css/rtl.css' %}" rel="stylesheet" type="text/css">#}
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'plugins/prettyphoto/css/prettyPhoto.css' %}" rel="stylesheet" type="text/css">
  <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css" media="screen" /><![endif]-->
  <!-- Color Style -->
  <link href="{% static 'colors/color1.css' %}" rel="stylesheet" type="text/css">
  {% endcompress %}
  {% endblock %}
  <!-- SCRIPTS
  ================================================== -->
  <script src="{% static 'js/modernizr.js' %}"></script>
  <!-- Modernizr -->
</head>


<body>
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body">
  <!-- Start Site Header -->
  <header class="site-header">
    <div class="topbar">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-8">
            <h1 class="logo"> <a href="index.html"><img src="{% static 'images/logo.png' %}" alt="Logo"></a> </h1>
          </div>
          <div class="col-md-8 col-sm-6 col-xs-4 text-right">
                     <p style="margin-bottom: 0px;"><b>Тел.</b>: <span class="lead red"> +7 (3473) 25-00-84, 8-963-894-55-84</span></p>
          <small><b>E-mail:</b> <span class=""> magazin-gazovik@hotmail.com</span></small> <br>
          <small><b>Адрес:</b> <span class=""> г.Стерлитамак, ул.Худайбердина, 76</span></small>
            <a href="#" class="visible-sm visible-xs menu-toggle"><i class="fa fa-bars"></i></a> </div>
        </div>
      </div>
    </div>
    <div class="main-menu-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="navigation">
              <ul class="sf-menu">

                <li><a href="{% url 'catalog:list' %}">Товар</a>

                </li>
                <li><a href="{% url 'catalog:category_list' %}">Категория</a>

                </li>
                <li><a href="{% url 'about' %}">About</a>

                </li>
                <li><a href="{% url 'home' %}">Gazovik</a>

              	</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- End Site Header -->
  <!-- Start Nav Backed Header -->
  <div class="nav-backed-header parallax" style="background-image:url('/static/images/gas-stove-1776648_1920.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">{{ page.title }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- End Nav Backed Header -->
  <!-- Start Page Header -->
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ page.title }}{{ section.title }}{{ title }}{{ article.title }} - {{ block.super }}{{ entry.title }}{{ page.name }}</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Header -->
  <!-- Start Content -->
  <div class="main" role="main">
    <div id="content" class="content full">
      <div class="container">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Добро пожаловать</p>
      {% endblock content %}

    </div> <!-- /container -->


  </div>
  </div>
  <!-- Start Footer -->
  <footer class="site-footer">
  <div class="container">
  <div class="row">
    <!-- Start Footer Widgets -->
    <div class="col-md-4 col-sm-4 widget footer-widget">
      <h4 class="footer-widget-title">О нашем магазине</h4>
      <img src="{% static 'images/logo.png' %}" alt="Logo">
      <div class="spacer-20"></div>
      <p>Мы предлагаем газовое оборудование для учёта, обогрева, комфорта и для безопасного использования в квартирах и частных домах.</p>
    </div>

<!--
    <div class="col-md-4 col-sm-4 widget footer-widget">
      <h4 class="footer-widget-title">Blogroll</h4>
      <ul>
        <li><a href="index.html">Church Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="events.html">All Events</a></li>
        <li><a href="sermons.html">Sermons Archive</a></li>
        <li><a href="blog-masonry.html">Our Blog</a></li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-4 widget footer-widget">
      <h4 class="footer-widget-title">Our Church on twitter</h4>
      <ul class="twitter-widget" data-tweets-count="1">
      </ul>
    </div> -->


  </div>
  </div>
  </footer>
  <footer class="site-footer-bottom">
  <div class="container">
  <div class="row">
    <div class="copyrights-col-left col-md-6 col-sm-6">
      <p>&copy; 2014 NativeChurch. All Rights Reserved</p>
    </div>
    <div class="copyrights-col-right col-md-6 col-sm-6">
      <div class="social-icons"> <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a> <a href="http://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a> <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a> <a href="http://www.pinterest.com/" target="_blank"><i class="fa fa-youtube"></i></a> <a href="#"><i class="fa fa-rss"></i></a> </div>
    </div>
  </div>
  </div>
  </footer>
  <!-- End Footer -->
  <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>
  </div>

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Required by Bootstrap v4 beta -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>



      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      {% compress js %}
      <script src="{% static 'js/project.js' %}"></script>
      <script src="{% static 'js/jquery-2.0.0.min.js' %}"></script> <!-- Jquery Library Call -->
      <script src="{% static 'plugins/prettyphoto/js/prettyphoto.js' %}"></script> <!-- PrettyPhoto Plugin -->
      <script src="{% static 'js/helper-plugins.js' %}"></script> <!-- Plugins -->
      <script src="{% static 'js/bootstrap.js' %}"></script> <!-- UI -->
      <script src="{% static 'js/waypoints.js' %}"></script> <!-- Waypoints -->
      <script src="{% static 'plugins/mediaelement/mediaelement-and-player.min.js' %}"></script> <!-- MediaElements -->
      <script src="{% static 'js/init.js' %}"></script> <!-- All Scripts -->
      <script src="{% static 'plugins/flexslider/js/jquery.flexslider.js' %}"></script> <!-- FlexSlider -->
      <script src="{% static 'plugins/countdown/js/jquery.countdown.min.js' %}"></script> <!-- Jquery Timer -->
      {% endcompress %}

    {% endblock javascript %}
  </body>
</html>
