{% extends "base.html" %}
{% load static category %}

{% block content %}

<h2 class="">Газовые плиты</h2>
<div class="well gallery-slick" style="margin-bottom:120px;  ">
  {% category_slick 1 10 %}
</div>

<h2>Котлы</h2>
<div class="well gallery-slick" style="margin-bottom:120px;  ">
  {% category_slick 4 10 %}
</div>

<br />


{% endblock %}


{% block javascript_add %}

<script src="{% static 'slick/slick.min.js' %}"></script> <!-- Jquery Timer -->

<script type="text/javascript">
   $(document).ready(function(){
     $('.gallery-slick').slick({

         centerMode: true,
         adaptiveHeight: true,
         centerPadding: '60px',
        //  slidesToShow: 10,
         variableWidth: true,
         dots: true,
         focusOnSelect: true,
        //  slidesToShow: 5,
        slidesToScroll: 3,
        autoplay: true,
        autoplaySpeed: 2000,

         responsive: [
           {
             breakpoint: 768,
             settings: {
               arrows: false,
               centerMode: true,
               centerPadding: '40px',
               slidesToShow: 5
             }
           },
           {
             breakpoint: 480,
             settings: {
               arrows: false,
               centerMode: true,
               centerPadding: '40px',
               slidesToShow: 3
             }
           }
         ]

     });
   });
 </script>

{% endblock javascript_add %}
