<!DOCTYPE HTML>
<html class="no-js">
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Native Church</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<!-- CSS
  ================================================== -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="plugins/mediaelement/mediaelementplayer.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet" type="text/css">
<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css" media="screen" /><![endif]-->
<!-- Color Style -->
<link  href="colors/color1.css" rel="stylesheet" type="text/css">
<!-- SCRIPTS
  ================================================== -->
<script src="js/modernizr.js"></script><!-- Modernizr -->
</head>
<body>
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body">
  <!-- Start Site Header -->
  <header class="site-header">
    <div class="topbar">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-8">
            <h1 class="logo"> <a href="index.html"><img src="images/logo.png" alt="Logo"></a> </h1>
          </div>
          <div class="col-md-8 col-sm-6 col-xs-4">
            <ul class="top-navigation hidden-sm hidden-xs">
              <li><a href="plan-visit.html">Plan your visit</a></li>
              <li><a href="events-calendar.html">Calendar</a></li>
              <li><a href="donate.html">Donate Now</a></li>
            </ul>
            <a href="#" class="visible-sm visible-xs menu-toggle"><i class="fa fa-bars"></i></a> </div>
        </div>
      </div>
    </div>
    <div class="main-menu-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="navigation">
              <ul class="sf-menu">
                <li><a href="index.html">Home</a>
                  <ul class="dropdown">
                    <li><a href="index.html">Sliders</a>
                    		<ul class="dropdown">
                    			<li><a href="index.html">Flex Slider</a></li>
                    			<li><a href="index-nivoslider.html">Nivo Slider</a></li>
                    			<li><a href="index-rev-slider.html">Revolution Slider <span class="label label-danger">New</span></a></li>
                         </ul>
                    </li>
                    <li><a href="index.html">Headers</a>
                    		<ul class="dropdown">
                    			<li><a href="index.html">Style 1</a></li>
                    			<li><a href="header-style2.html">Style 2</a></li>
                    			<li><a href="header-style3.html">Style 3</a></li>
                    			<li><a href="header-style4.html">Style 4 <span class="label label-danger">New</span></a></li>
                         </ul>
                    </li>
                    <li><a href="index.html">Home version 1</a></li>
                    <li><a href="index1.html">Home version 2</a></li>
                    <li><a href="index2.html">Home version 3</a></li>
                    <li><a href="index3.html">Home version 4</a></li>
                    <li><a href="index4.html">Home version 5</a></li>
                    <li><a href="index5.html">Home version 6 <span class="label label-danger">New</span></a></li>
                  </ul>
                </li>
                <li><a href="about.html">About Us</a>
                  <ul class="dropdown">
                    <li><a href="about.html">Overview</a></li>
                    <li><a href="contact.html">Where we meet</a></li>
                    <li><a href="our-staff.html">Our Staff</a></li>
                	<li><a href="contact.html">Contact</a></li>
                  </ul>
                </li>
                <li class="megamenu"><a href="shortcodes.html">Mega Menu</a>
                  <ul class="dropdown">
                    <li>
                      <div class="megamenu-container container">
                        <div class="row">
                          <div class="col-md-3 hidden-sm hidden-xs"> <span class="megamenu-sub-title"><i class="fa fa-bell"></i> Today's Prayer</span>
                            <iframe width="200" height="150" src="http://player.vimeo.com/video/19564018?title=0&amp;byline=0&amp;color=007F7B"></iframe>
                          </div>
                          <div class="col-md-3"> <span class="megamenu-sub-title"><i class="fa fa-pagelines"></i> Our Ministries</span>
                            <ul class="sub-menu">
                              <li><a href="ministry.html">Women's Ministry</a></li>
                              <li><a href="ministry.html">Men's Ministry</a></li>
                              <li><a href="ministry.html">Children's Ministry</a></li>
                              <li><a href="ministry.html">Youth Ministry</a></li>
                              <li><a href="ministry.html">Prayer Requests</a></li>
                            </ul>
                          </div>
                          <div class="col-md-3"> <span class="megamenu-sub-title"><i class="fa fa-clock-o"></i> Upcoming Events</span>
                            <ul class="sub-menu">
                              <li><a href="single-event.html">Monday Prayer</a> <span class="meta-data">Monday | 06:00 PM</span> </li>
                              <li><a href="single-event.html">Staff members meet</a> <span class="meta-data">Tuesday | 08:00 AM</span> </li>
                              <li><a href="single-event.html">Evening Prayer</a> <span class="meta-data">Friday | 07:00 PM</span> </li>
                            </ul>
                          </div>
                          <div class="col-md-3"> <span class="megamenu-sub-title"><i class="fa fa-cog"></i> Features</span>
                            <ul class="sub-menu">
                              <li><a href="shortcodes.html">Shortcodes</a></li>
                              <li><a href="typography.html">Typography</a></li>
                    			<li><a href="shop.html">Shop <span class="label label-danger">New</span></a></li>
                    			<li><a href="shop-sidebar.html">Shop Sidebar <span class="label label-danger">New</span></a></li>
                    			<li><a href="shop-product.html">Single Product <span class="label label-danger">New</span></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li><a href="events.html">Events</a>
                  <ul class="dropdown">
                    <li><a href="events.html">Events Listing</a></li>
                    <li><a href="events-timeline.html">Events Timeline</a></li>
                    <li><a href="google-calendar.html">Google Calender</a></li>
                    <li><a href="events-calendar.html">Events Calender</a></li>
                    <li><a href="events-grid.html">Events Masonry Grid</a></li>
                    <li><a href="single-event.html">Single Event</a></li>
                  </ul>
                </li>
                <li><a href="sermons.html">Sermons</a>
                  <ul class="dropdown">
                    <li><a href="sermon-albums.html">Sermon Albums</a></li>
                    <li><a href="sermons.html">Sermons Archive</a></li>
                    <li><a href="single-sermon.html">Single Sermon</a></li>
                  </ul>
                </li>
                <li><a href="gallery-2cols-pagination.html">Gallery</a>
                  <ul class="dropdown">
                    <li><a href="gallery-2cols-pagination.html">With Pagination</a>
                      <ul class="dropdown">
                        <li><a href="gallery-2cols-pagination.html">2 Columns</a></li>
                        <li><a href="gallery-3cols-pagination.html">3 Columns</a></li>
                        <li><a href="gallery-4cols-pagination.html">4 Columns</a></li>
                      </ul>
                    </li>
                    <li><a href="gallery-2cols-filter.html">With Filter</a>
                      <ul class="dropdown">
                        <li><a href="gallery-2cols-filter.html">2 Columns</a></li>
                        <li><a href="gallery-3cols-filter.html">3 Columns</a></li>
                        <li><a href="gallery-4cols-filter.html">4 Columns</a></li>
                      </ul>
                    </li>
                    <li><a href="gallery-masonry.html">Masonry Grid</a></li>
                  </ul>
                </li>
                <li><a href="blog-masonry.html">Blog</a>
                  <ul class="dropdown">
                    <li><a href="blog-masonry.html">Masonry Blog</a></li>
                    <li><a href="blog-full-width.html">Full Width Blog</a></li>
                    <li><a href="blog-timeline.html">Timeline Blog</a></li>
                    <li><a href="blog-medium-thumbnails.html">Medium Thumbnails</a></li>
                    <li><a href="blog-post.html">Single Blog Post</a></li>
                  </ul>
                </li>
                <li><a href="causes.html">Causes</a>
                  <ul class="dropdown">
                    <li><a href="causes.html">Causes List</a></li>
                    <li><a href="causes-grid.html">Causes Grid</a></li>
                    <li><a href="single-cause.html">Single Cause</a></li>
                  </ul>
              	</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- End Site Header -->
  <!-- Start Nav Backed Header -->
  <div class="nav-backed-header parallax" style="background-image:url(http://placehold.it/1280x635&amp;text=IMAGE+PLACEHOLDER);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Our Shop</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- End Nav Backed Header -->
  <!-- Start Page Header -->
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Our Shop</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Header -->
  <!-- Start Content -->
  <div class="main" role="main">
    <div id="content" class="content full">
      <div class="container">
        <div class="row">
          <header class="col-md-12">
            <div class="form-group pull-right">
              <select class="form-control">
                <option>Default sorting</option>
                <option>Sort by sales</option>
                <option>Sort by popularity</option>
                <option>Sort by sales</option>
              </select>
            </div>
            <div class="clearfix"></div>
          </header>

          <ul class="products-list">
            <li class="col-md-3 col-sm-6">
              	<div class="shop-item">
                	<div class="product-image">
                    	<img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER.jpg" alt="">
                        <a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i></a>
                   	</div>
                	<div class="product-details">
                  		<h3><a href="#">Product 1</a></h3>
                  		<span class="product-categories"><a href="#">Wallpaper</a></span>
                    </div>
                	<span class="product-price">$340</span>
              	</div>
            </li>
            <li class="col-md-3 col-sm-6">
              	<div class="shop-item">
                	<div class="product-image">
                    	<img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER.jpg" alt="">
                        <a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i></a>
                        <span class="shop-badge label-danger">Hot</span>
                  	</div>
                	<div class="product-details">
                  		<h3><a href="#">Product 2</a></h3>
                  		<span class="product-categories"><a href="#">Wallpaper</a></span>
                  	</div>
                	<span class="product-price">$570</span>
              	</div>
            </li>
            <li class="col-md-3 col-sm-6">
              	<div class="shop-item">
                	<div class="product-image">
                    	<img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER.jpg" alt="">
                        <a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i></a>
                   	</div>
                	<div class="product-details">
                  		<h3><a href="#">Product 3</a></h3>
                  		<span class="product-categories"><a href="#">Wallpaper</a></span>
                   	</div>
                	<span class="product-price">$150</span>
              	</div>
            </li>
            <li class="col-md-3 col-sm-6">
              	<div class="shop-item">
                	<div class="product-image">
                    	<img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER.jpg" alt="">
                        <a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i></a>
                   	</div>
                	<div class="product-details">
                  		<h3><a href="#">Product 4</a></h3>
                  		<span class="product-categories"><a href="#">Wallpaper</a>, <a href="#">Paintings</a></span>
                   	</div>
                	<span class="product-price">$540</span>
              	</div>
            </li>
            <li class="col-md-3 col-sm-6">
              	<div class="shop-item">
                	<div class="product-image">
                    	<img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER.jpg" alt="">
                        <a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i></a>
                  	</div>
                	<div class="product-details">
                  		<h3><a href="#">Product 5</a></h3>
                  		<span class="product-categories"><a href="#">Wallpaper</a>, <a href="#">Screen</a></span>
                  	</div>
                	<span class="product-price">$210</span>
              	</div>
            </li>
            <li class="col-md-3 col-sm-6">
              	<div class="shop-item">
                	<div class="product-image">
                    	<img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER.jpg" alt="">
                        <a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i></a>
                        <span class="shop-badge label-success">Sale</span>
                  	</div>
                	<div class="product-details">
                  		<h3><a href="#">Product 6</a></h3>
                  		<span class="product-categories"><a href="#">Wallpaper</a></span>
                   	</div>
                	<span class="product-price">$1740</span>
               	</div>
            </li>
            <li class="col-md-3 col-sm-6">
              	<div class="shop-item">
                	<div class="product-image">
                    	<img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER.jpg" alt="">
                        <a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i></a>
                  	</div>
                	<div class="product-details">
                  		<h3><a href="#">Product 7</a></h3>
                  		<span class="product-categories"><a href="#">Wallpaper</a></span>
                  	</div>
                	<span class="product-price">$1490</span>
               	</div>
            </li>
            <li class="col-md-3 col-sm-6">
              	<div class="shop-item">
                	<div class="product-image">
                    	<img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER.jpg" alt="">
                        <a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i></a>
                  	</div>
                	<div class="product-details">
                  		<h3><a href="#">Product 8</a></h3>
                  		<span class="product-categories"><a href="#">Wallpaper</a>, <a href="#">Posters</a></span>
                  	</div>
                	<span class="product-price">$650</span>
               	</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Start Footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <!-- Start Footer Widgets -->
        <div class="col-md-4 col-sm-4 widget footer-widget">
          <h4 class="footer-widget-title">About our Church</h4>
          <img src="images/logo.png" alt="Logo">
          <div class="spacer-20"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis consectetur adipiscing elit. Nulla convallis egestas rhoncus</p>
        </div>
        <div class="col-md-4 col-sm-4 widget footer-widget">
          <h4 class="footer-widget-title">Blogroll</h4>
          <ul>
            <li><a href="index.html">Church Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="events.html">All Events</a></li>
            <li><a href="sermons.html">Sermons Archive</a></li>
            <li><a href="blog-masonry.html">Our Blog</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-4 widget footer-widget">
          <h4 class="footer-widget-title">Our Church on twitter</h4>
          <ul class="twitter-widget" data-tweets-count="1">
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <footer class="site-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="copyrights-col-left col-md-6 col-sm-6">
          <p>&copy; 2014 NativeChurch. All Rights Reserved</p>
        </div>
        <div class="copyrights-col-right col-md-6 col-sm-6">
          <div class="social-icons"> <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a> <a href="http://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a> <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a> <a href="http://www.pinterest.com/" target="_blank"><i class="fa fa-youtube"></i></a> <a href="#"><i class="fa fa-rss"></i></a> </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
  <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>
</div>
<script src="js/jquery-2.0.0.min.js"></script> <!-- Jquery Library Call -->
<script src="plugins/prettyphoto/js/prettyphoto.js"></script> <!-- PrettyPhoto Plugin -->
<script src="js/helper-plugins.js"></script> <!-- Plugins -->
<script src="js/bootstrap.js"></script> <!-- UI -->
<script src="js/waypoints.js"></script> <!-- Waypoints -->
<script src="plugins/mediaelement/mediaelement-and-player.min.js"></script> <!-- MediaElements -->
<script src="js/init.js"></script> <!-- All Scripts -->
<script src="plugins/flexslider/js/jquery.flexslider.js"></script> <!-- FlexSlider -->
<script src="plugins/countdown/js/jquery.countdown.min.js"></script> <!-- Jquery Timer -->
</body>
</html>
