
{% extends "base.html" %}
{% load static %}
{% block content %}


        <div class="row">
          <header class="col-md-12">
            <div class="form-group pull-right">
              <select class="form-control">
                <option>Default sorting</option>
                <option>Sort by sales</option>
                <option>Sort by popularity</option>
                <option>Sort by sales</option>
              </select>
            </div>
            <div class="clearfix"></div>
          </header>

          <!-- Start roducts-list-->
          <ul class="products-list">
          {% for object in object_list %}
                {% include "webapp/tovar_item.html" %}
          {% endfor %}

          </ul>
          <!-- конец roducts-list-->
        </div>
<!-- конец снизу див конец контейнер-->
{% endblock %}
