
{% extends "base.html" %}
{% load static %}
{% block content %}


        <div class="row">
          <header class="col-md-12">
            <div class="form-group pull-right">
              <select class="form-control">
                <option>Default sorting</option>
                <option>Sort by sales</option>
                <option>Sort by popularity</option>
                <option>Sort by sales</option>
              </select>
            </div>
            <div class="clearfix"></div>
          </header>

          <!-- Start roducts-list-->
          <ul class="products-list">
{% for object in object_list %}
            <li class="col-md-3 col-sm-6" style="padding-right: 1px;">
              	<div class="shop-item">
                	<div class="product-image">
                    	<img src="{{ MEDIA_URL }}/{{ object.image }}" alt="" style="height: 433px; width: 222px;">

                   	</div>
                	<div class="product-details">
                  		<h3><a href="{% url 'catalog:detail' object.slug %}">{{ object.name }}</a></h3>

                    </div>
                	<!-- <span class="product-price">{{ object.price }}  &#8381;</span>-->
              	</div>
            </li>
{% endfor %}

          </ul>
          <!-- конец roducts-list-->
        </div>
<!-- конец снизу див конец контейнер-->
{% endblock %}
